.login-header {
  width: 100%;
  height: 88px;
}
.login-header .main {
  width: 1003px;
  height: 88px;
  margin: 0 auto;
}
.login-header .main h2 {
  margin-top: 20px;
  float: left;
}
.login-header .main h2 a {
  display: inline-block;
  text-indent: -9999px;
  width: 212px;
  height: 60px;
  background: url(../img/icon/05542902226750749.png);
}
.login-header .main dl {
  float: right;
  width: 313px;
  height: 40px;
  font-size: 13px;
  color: #999999;
  margin-top: 34px;
}
.login-header .main dl dt {
  float: left;
  margin-right: 10px;
}
.login-header .main dl dt img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.login-header .main dl dd {
  line-height: 20px;
}
.login-header .main dl dd a {
  font-size: 14px;
  margin-left: 5px;
  color: #0079dd;
  font-weight: 900;
}

.login-container {
  width: 100%;
  height: 536px;
  border-bottom: 1px solid #999999;
  background: url(../img/banner_background.jpg);
}
.login-container .main {
  width: 1003px;
  height: 535px;
  margin: 0 auto;
  overflow: hidden;
}
.login-container .main .left {
  float: left;
  width: 400px;
  height: 340px;
  margin-top: 60px;
}
.login-container .main .left img {
  width: 95%;
  height: 95%;
  vertical-align: middle;
}
.login-container .main .right {
  width: 480px;
  margin-top: 26px;
  float: right;
  position: relative;
  background: white;
  padding: 0 17px;
  border-radius: 8px;
}
.login-container .main .right .icon {
  width: 18px;
  height: 8px;
  top: -8px;
  left: 160px;
  position: absolute;
  background: url(../img/icon/icon1.png) no-repeat;
}
.login-container .main .right .title {
  height: 60px;
  font-size: 18px;
  color: #999999;
  border-bottom: 1px solid #999999;
}
.login-container .main .right .title span {
  display: inline-block;
  width: 220px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.login-container .main .right .title span:hover {
  color: black;
}
.login-container .main .right .title span:nth-child(1) {
  color: red;
  border-bottom: 3px solid #D02629;
}
.login-container .main .right .title span:nth-child(1) i {
  width: 14px;
  height: 7px;
  bottom: -10px;
  left: 106px;
  position: absolute;
  background: url(../img/icon/icon2.png) no-repeat;
}
.login-container .main .right .middle {
  padding-left: 40px;
}
.login-container .main .right .middle .user {
  font-size: 14px;
}
.login-container .main .right .middle .user div {
  width: 350px;
  height: 52px;
  line-height: 52px;
  margin-top: 30px;
  border: 1px solid #CCCCCC;
}
.login-container .main .right .middle .user div span {
  display: inline-block;
  float: left;
  width: 72px;
  height: 50px;
  text-align: right;
}
.login-container .main .right .middle .user div input {
  float: left;
  border: none;
  height: 50px;
  width: 276px;
  outline: none;
}
.login-container .main .right .middle .user div:nth-child(2) {
  margin-top: -1px;
}
.login-container .main .right .middle .user div:nth-child(3) {
  border: none;
}
.login-container .main .right .middle .user div:nth-child(3) .in {
  margin-top: 0px;
  width: 224px;
  float: left;
}
.login-container .main .right .middle .user div:nth-child(3) .in input {
  width: 150px;
}
.login-container .main .right .middle .user div:nth-child(3) .out {
  border: none;
  margin-top: 0px;
  float: left;
  width: 124px;
  height: 52px;
  position: relative;
}
.login-container .main .right .middle .user div:nth-child(3) .out i {
  display: block;
  width: 124px;
  height: 52px;
  float: left;
}
.login-container .main .right .middle .user div:nth-child(3) .out i img {
  width: 124px;
  height: 52px;
}
.login-container .main .right .middle .user div:nth-child(3) .out .makecode {
  position: absolute;
  display: none;
  width: 124px;
  height: 52px;
  background: black;
  opacity: 0.3;
  text-align: center;
  line-height: 52px;
  color: white;
  top: 0px;
  left: 0px;
}
.login-container .main .right .middle .user div:nth-child(3) .out:hover {
  cursor: pointer;
}
.login-container .main .right .middle .user div:nth-child(3) .out:hover .makecode {
  display: block;
}
.login-container .main .right .middle .user .check {
  margin-top: 0;
  border: none;
  position: relative;
  padding-left: 16px;
  color: #999999;
}
.login-container .main .right .middle .user .check input {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  left: 0px;
}
.login-container .main .right .middle .user .check a {
  float: right;
  color: blue;
}
.login-container .main .right .middle .user .btnlogin {
  width: 350px;
  height: 45px;
  border: none;
  font-size: 15px;
  text-align: center;
  letter-spacing: 10px;
  line-height: 45px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  background: #f32613;
}
.login-container .main .right .else {
  margin-top: 24px;
  margin-left: 55px;
  height: 90px;
}
.login-container .main .right .else h4 {
  font-size: 13px;
}
.login-container .main .right .else p {
  height: 32px;
  font-size: 12px;
  margin-top: 10px;
}
.login-container .main .right .else p a {
  display: inline-block;
  height: 32px;
  position: relative;
  margin-right: 25px;
  color: #999999;
}
.login-container .main .right .else p a i {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.login-container .main .right .else p a span {
  display: inline-block;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
}
.login-container .main .right .else p a:nth-child(1) i {
  background: url(../img/icon/login_pic.png);
  background-position: 0px 0px;
}
.login-container .main .right .else p a:nth-child(2) i {
  background: url(../img/icon/login_pic.png);
  background-position: -32px 0px;
}
.login-container .main .right .else p a:nth-child(3) i {
  background: url(../img/icon/login_pic.png);
  background-position: -64px 0px;
}
.login-container .main .right .else p a:hover:nth-child(1) {
  color: #3eb6e8;
}
.login-container .main .right .else p a:hover:nth-child(1) i {
  background-position: -96px 0px;
}
.login-container .main .right .else p a:hover:nth-child(2) {
  color: #f77361;
}
.login-container .main .right .else p a:hover:nth-child(2) i {
  background-position: -128px 0px;
}
.login-container .main .right .else p a:hover:nth-child(3) {
  color: #4ea335;
}
.login-container .main .right .else p a:hover:nth-child(3) i {
  background-position: -160px 0px;
}

/*# sourceMappingURL=login.css.map */
